{% extends 'main/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'book/css/book.css' %}">
<script src="{% static 'book/js/book.js' %}"></script>
{% endblock links %}

{% block main %}
<!--{% for style in styles %}-->
<!--     <link rel="stylesheet" href="{% static style %}">-->
<!--{% endfor %}-->
<div class="info_kniga">
    <img style="width: 234px; height: 416px; margin: 30px 0" alt="Cover" src="jpg/Новый%20проект.jpg">
    <h2>{{ title }}</h2>
    <h3>{{ author }}</h3>
    <h3 style="font-weight: 400">Всего глав: {{ chapter_num }}</h3>
</div>

<div class="container">
    <nav class="chapter-list">
        <ul id="chapters" style="font-weight: 700">
            {% for chapter in book_text %}
                <li data-chapter="{{ forloop.counter0 }}" class="chapter-item">{{ chapter.1 }}</li>
            {% endfor %}
        </ul>
    </nav>
    <main class="book-info">
        <div id="chapter-text">
            {% for chapter in book_text %}
               <div class="chapter-content" data-chapter="{{ forloop.counter0 }}">
                    {{ chapter.2|safe }}
               </div>
            {% endfor %}
        </div>
    </main>
</div>
<button class="forward-button">Вперед</button>
<button class="back-button">Назад</button>
{% endblock main %}

<!--<div class="tab">-->
<!--    {% for chapter in book_text %}-->
<!--        <button class="tablinks" onclick="openChapter(event, '{{ chapter.1 }}'">{{ chapter.1 }}</button>-->
<!--    {% endfor %}-->
<!--    {% for chapter in book_text %}-->
<!--        <div id="{{ chapter.1 }}" class="tabcontent">-->
<!--            <h3>{{ chapter.1 }}</h3>-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--</div>-->

